.container{
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;
    width: 100vw;
    box-shadow: 0 0 10px 0 black;
    background-color: #AFAFB7;
    a{
        color: black;
        text-decoration: none;
    }
}